@model IEnumerable<Anime>
@{
	//ViewData["Title"] = "Home Page";
}
<div class="wrapper">
	<h3>Popular</h3>
	<div class="line"></div>
	<div class="section">
		@for (int i = 0; i < Model.Count(); i++)
		{
			var item = Model.ElementAt(i);
			<div class="poster">
				<div class="poster_content">
					<div class="image">
						<img src="@item.Image" width="100%" height="315" alt="Image" />
						<p>@item.Mark/10</p>
					</div>
					<div>
						<a asp-controller="Anime" asp-action="Detail" asp-route-id=@item.Id class="title">@item.Name</a>

						<span>@item.Description</span>
						@{
							string[] arr = item.Tags.Split(' ');
							<div class="tags">
								@foreach (string temp in arr)
								{
									<a asp-controller="Anime" asp-action="Tag" asp-route-tag=@temp class="tag">@temp.Replace("_", " ")</a>
								}
							</div>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>