@model Anime
<div class="rating-block">
	<div class="rating-block_content">
		<h4>Rate this anime</h4>
		<div class="line"></div>
		<div class="rating-block_content_buttons">
			@for (int i = 1; i <= 10; i++)
			{
				string temp = Model.Id.ToString() + "_" + i.ToString();
				<a asp-controller="Anime" asp-action="Watched" asp-route-rate=@temp>@i</a>
			}
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="info-block">
		<div class="info-block_main">
			<img src=@Model.Image alt="Image" width="360" />
			<div class="info-block_main_right">
				<h3>@Model.Name</h3>
				<div class="line"></div>
				<p>@Model.Description</p>
				<div class="line"></div>
				<p>@Model.Views</p>
				<button id="watched">Watched</button>
			</div>
		</div>
	</div>
	<div class="series">
		@{
			string[] arr = @Model.SeeasonsAndSeries.Split(' ');
			int season = 1;
			foreach (var element in arr)
			{
				if (arr.Length > 1)
				{
					if (season != 1)
					{
						<div class="line"></div>
					}
					<h4>Season @season</h4>
				}
				<div class="season">
					@for (int i = 1; i <= int.Parse(element); i++)
					{
						string options = i.ToString() + "__" + season.ToString() + "__" + Model.Id.ToString();
						<a asp-controller="Anime" asp-action="Series" asp-route-options=@options class="series-button">Series @i</a>
					}
				</div>
				season++;
			}
		}
	</div>
</div>
<script src="~/js/rating-button.js"></script>

