@model Anime
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="wrapper">
    <div class="info-block">
        <div class="info-block_main">
            <img src=@Model.Image alt="Image" width="360" />
            <div class="info-block_main_right">
                <h3>@Model.Name</h3>
                <div class="line"></div>
                <p>@Model.Description</p>
                <div class="line"></div>
				<p>@Model.Id</p>
                @if (Model.SeeasonsAndSeries!=""){
                string[] arr = @Model.SeeasonsAndSeries.Split(' ');
                int season = 1;
                    foreach(var element in arr)
                    {
                        <h4>@season</h4>
                        season++;
                        for(int i = 1; i <= int.Parse(element); i++){
                        <button class="series-button">@i</button>
                        }
                    }
                }
				
            </div>
            
        </div>
    </div>
</div>

