@model AnimesByTag
@{
	//ViewData["Title"] = "Home Page";
}
<div class="wrapper">
	@if (Model.Tags.Split(" ").Count() > 1)
	{
		<h3>
			Sorted by tags:
				@{
					string[] arr = @Model.Tags.Split(" ");
					foreach (string tag in arr)
					{
					string tagsStr = string.Join(" ",arr.Where(val => val != tag).ToArray());
					<span>@tag.Replace("_", " ")<a asp-controller="Anime" asp-action="Tag" asp-route-tag=@tagsStr class="delete-tag"><div class="delete-tag_circle"><div class="delete-tag_stick_l"></div><div class="delete-tag_stick_r"></div></div></a></span>
					}
				}
		</h3>
	}
	else
	{
		<h3>Sorted by tag: <span>@Model.Tags.Replace("_", " ")<a asp-controller="Home" asp-action="Index" class="delete-tag"><div class="delete-tag_circle"><div class="delete-tag_stick_l"></div><div class="delete-tag_stick_r"></div></div></a></span></h3>
	}
	<div class="line"></div>
	<div class="section">
		@for (int i = 0; i < Model.Animes.Count(); i++)
		{
			var item = Model.Animes.ElementAt(i);
			<div class="poster">
				<div class="poster_content">
					<div class="image">
						<img src="@item.Image" width="100%" height="315" alt="Image" />
						<p>@Math.Round(item.Mark,1)/10</p>
					</div>
					<div>
						<a asp-controller="Anime" asp-action="Detail" asp-route-id=@item.Id class="title">@item.Name</a>
						<span>@item.Description</span>
						@{
							string[] arr = item.Tags.Split(' ');
							<div class="tags">
								@foreach (string temp in arr)
								{
									string tagsStr = Model.Tags;
									tagsStr += " " + temp;
									if (!Model.Tags.Contains(temp)){
										<a asp-controller="Anime" asp-action="Tag" asp-route-tag=@tagsStr class="tag">@temp.Replace("_", " ")</a>
									}
									else{
										<a asp-controller="Anime" asp-action="Tag" asp-route-tag=@tagsStr class="tag" style="pointer-events: none">@temp.Replace("_", " ")</a>
									}
								}
							</div>
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>